.vertical-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  //background-color: purple;
}

.single-officer{
  //flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.officer-picture{
  flex-grow: 0;
  flex-shrink: 0;
}

.officer-description{
  flex-grow: 0;
  flex-shrink: 1;
  margin: 10px;
  //background-color: yellow;
}

.tight-list{
  display: flex;
  justify-content: center;
  align-content: center;
}

.padding{
  flex-grow: 1;
  //background-color: green;
}

.navbar-item:hover{
  background-color: white;
}

.pdf-viewer{
  display: flex;
  flex-grow: 1;
  height: 800px;
  flex-direction: column;
  justify-content: center;
  //background-color: purple;
}

.navbar-flex{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .navbar-flex{
    display: flex;
    flex-direction: column;
  }

  .vertical-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: left;
    //background-color: purple;
  }

  .single-officer{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .officer-description-collapse{
    font-size: 4vw;
  }
}
