html, body{
  margin: 0 !important;
  padding: 0 !important;

  background-color: rgb(131,167,212);

  font-family: sans-serif;
}

p{
  margin-top: 7px;
  margin-bottom: 7px;
}

hr {
  margin-left: 0;
  margin-right: 0;
}

.header{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;

  height: 120px;
  width: 100%;
}

.page-border{
  border: 20px;
  border-style: solid;
  border-width: 20px;
  border-color: rgb(131,167,212);
}

.brand{

}

.council-title{
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;

  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: x-large;
  font-weight: bold;
}

.sign-in{
  width: 200px;
  height: 100px;
  margin-left: auto;

  background-color: red;
}

.navbar{
  background: linear-gradient(#645e53 0,#363128 100%);
  height: 60px;
  width: 100%;
  margin-bottom: 0px;
}

.nav-button{
  box-sizing: border-box;

  color: white;
  height: 59px;
  border-left: 1px solid #645e53;
  border-right: 1px solid #363128;
}

.carousel-container{
  margin: auto;
  height: 500px;
  max-width: 1000px;
}

.content{
  max-width: 1000px;
  margin: auto;
}

.section{
  max-width: 1000px;
}

.vertical-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  //background-color: purple;
}

.single-officer{
  //flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.officer-picture{
  flex-grow: 0;
  flex-shrink: 0;
}

.officer-description{
  flex-grow: 0;
  flex-shrink: 1;
  margin: 10px;
  //background-color: yellow;
}

.my-inner{
  height: 100%;
  width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}
