{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="box">
        <div class="text-center">
            <h1 class="brand-name">Council 13527 Service Program Committees</h1>
        </div>
    </div>

  <div class="vertical-container box">
      <br>
      <div class="text-center">
          <h2>Church Activities</h2>
          <hr class="tagline-divider">
          <h4>Ron Rabiansky</h4>
      </div>
      <div class="tight-list">
          <ul>
            <li>
              Council Spiritual Focus
            </li>
            <li>
              5<sup>th</sup> Sunday Corporate Communion &amp; Rosay
            </li>
            <li>
              Altar Server Awards
            </li>
            <li>
              Necrology &amp; Clergy Appreciation Mass
            </li>
            <li>
              Special Occasion Masses
            </li>
          </ul>
      </div>

      <br>
      <div class="text-center">
          <h2>Council Activities</h2>
          <hr class="tagline-divider">
          <h4>Tom Sanders</h4>
      </div>
      <div class="tight-list">
          <ul>
            <li>
              Installation Dinner
            </li>
            <li>
              Christmas Party
            </li>
          </ul>
      </div>

      <br>
      <div class="text-center">
          <h2>Community Activities</h2>
          <hr class="tagline-divider">
          <h4>Jim Yurack</h4>
      </div>
      <div class="tight-list">
          <ul>
            <li>
              9/11 Remembrance Ceremony
            </li>
            <li>
              Habitat For Humantiy
            </li>
            <li>
              Tootsie Roll Drive
            </li>
            <li>
              Pavilion Support
            </li>
          </ul>
      </div>

      <br>
      <div class="text-center">
          <h2>Youth Activities</h2>
          <hr class="tagline-divider">
          <h4>Kevin Knebl</h4>
      </div>
      <div class="tight-list">
          <ul>
            <li>
              Soccer Challenge
            </li>
            <li>
              Basketball Free Throw Contest
            </li>
            <li>
              Keep Christ in Christmas Poster Contest
            </li>
            <li>
              College Scholarships
            </li>
          </ul>
      </div>

      <br>
      <div class="text-center">
          <h2>Culture of Life Activities</h2>
          <hr class="tagline-divider">
          <h4>Dave Halupowski</h4>
      </div>
      <div class="tight-list">
          <ul>
            <li>
              Abortion Clinic Prayers
            </li>
            <li>
              40 Days for Life
            </li>
            <li>
              Baby Bottle Drive
            </li>
          </ul>
      </div>

      <br>
      <div class="text-center">
          <h2>Membership Activities</h2>
          <hr class="tagline-divider">
          <h4>Joe Purka</h4>
      </div>
      <div class="tight-list">
          <ul>
            <li>
              Recruiting Members
            </li>
            <li>
              Retaining Members
            </li>
          </ul>
      </div>
  </div>
</div>

{% endblock %}
