<html>
  <head>
    <!-- carousel header -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        min-width: 100%;
  	  max-width: none;
        margin: auto;
  	  height: 600px !important;
    }
    </style>
    <!-- end carousel header -->

    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!-- end my css -->
  </head>

  <body>
    <!-- header -->
    <div class="header">
      <div class="brand">
        <img src="../static/images/KoC_Emblem-blue.jpg" style="width:100px;height:100px;">
      </div>
      <div class="council-title">
        <p>Council 13527</p>
        <p>Christ Our Redeemer Catholic Church</p>
      </div>
      <div class="sign-in">
      </div>
    </div>
    <!-- end header -->

    <!-- navigation bar -->
    <div class="navbar">
      <div class="nav-button col-2">
        First
      </div>
      <div class="nav-button col-2">
        Second
      </div>
      <div class="nav-button col-2">
        Third
      </div>
      <div class="nav-button col-2">
        Fourth
      </div>
      <div class="nav-button col-2">
        Fifth
      </div>
      <div class="nav-button col-2">
        Sixth
      </div>
    </div>
    <!-- end navigation bar -->

<div class="page-border">
{% block content %}{% endblock %}
</div>
    <!-- footer -->
  	<footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <p class="footer">Copyright &copy; kofc13527.com 2017</p>
                  <p class="footer"><a href="/contact">Contact Us!</a></p>
              </div>
          </div>
      </div>
    </footer>
    <!-- end footer -->

  </body>
</html>
