{% extends "base.html" %}

{% block content %}
<!-- <link rel="stylesheet" href="../static/fullcalendar/fullcalendar.css" /> -->
<script src="../static/fullcalendar/lib/jquery.min.js"></script>
<script src="../static/fullcalendar/lib/moment.min.js"></script>
<script src="../static/fullcalendar/fullcalendar.js"></script>
<script type="text/javascript" src="../static/fullcalendar/gcal.js"></script>

<script type="text/javascript">

  $(document).ready(function() {
      $("#calendar").fullCalendar({
          googleCalendarApiKey: "AIzaSyCqz6rvxl4WuGlbEyJwQJ6_4j53UdD1R-k",
          events: {
              googleCalendarId: "393mio7q745fb3aqk44vhhk3i0@group.calendar.google.com"
          }
      });
  });

  $("#calendar").fullCalendar("render");

</script>

    <div class="container">
      <div class="row">
          <div class="box">
            <div id="calendar"></div>
          </div>
      </div>
    </div>
{% endblock %}
